.education-section {
  padding: 60px 20px;
  background-color: #264653;
  color: white;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-heading {
  font-size: 2.5rem;
  color: #264653;
  text-align: center;
  margin-bottom: 40px;
}

.education-section .section-heading {
  color: white;
  text-align: center;
}
.education-container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

.tabs {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-right: 2px solid #d9ed92;
}

.tab {
  padding: 15px;
  cursor: pointer;
  border: 1px solid #333;
  background-color: whitesmoke;
  color: #333;
  transition: background-color 0.3s;
}

.tab.active {
  background-color: #d9ed92;
  color: #0f4c5c;
  border-left: 4px solid #a1c9f1;
}

.tab-content {
  flex: 2;
  padding: 20px;
  background-color: #d9ed92;
  border-radius: 5px;
  margin-left: 20px;
  width: 100%;
}

.tab-content h2 {
  font-size: 2rem;
  color: #0f4c5c;
  margin-bottom: 5px;
}

.tab-content h3 {
  font-size: 1rem;
  color: #0f4c5c;
  margin-bottom: 10px;
}

.tab-content p,
.tab-content div {
  font-size: 1.1rem;
  color: #0f4c5c;
  line-height: 1.6;
}

.tab-content strong {
  color: #0f4c5c;
}

@media (max-width: 768px) {
  .education-container {
    flex-direction: column;
  }

  .education-section {
    padding: 0;
    padding: 10px;
  }

  .tabs {
    border-right: none;
    border-bottom: 2px solid #444;
    margin-bottom: 40px;
  }

  .tab-content {
    margin-left: 0;
  }
}
